:root{
  --moderate-violet: rgb(117, 65, 200);
  --very-dark-grayish-blue: rgb(72, 85, 106);
  --blackish-blue: rgb(25, 33, 46);
  --white: rgb(255, 255, 255);

  --light-gray: rgb(207, 207, 207);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 90%;
    background-color: var(--light-grayish-blue);
    margin: 5rem auto;
}